:root {
  --primary-color: #0b866d;
  --secondary-color: #d5c863;
  --third-color: #c7b356;
  --background-color: #f4f4f4;
  --text-color: #0b866d;
  --hover-color: #45a049;
}

/* Estilos para a scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--third-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

/* Reset padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Header e Navegação */
header {
  background: #ffffff;
  color: var(--primary-color);
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--secondary-color);
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo img {
  max-height: 80px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  transition: 0.3s ease;
}

nav ul li a:hover {
  background: var(--secondary-color);
  color: var(--background-color);
}

/* Ícones de navegação */
.icons {
  display: flex;
  gap: 30px;
  font-size: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.3s ease;
}

.fa-heart:hover,
.fa-bag-shopping:hover,
.fa-user:hover {
  transform: scale(1.1);
  color: var(--third-color);
  cursor: pointer;
}

/* Hero Section */
#hero {
  display: flex;
  height: 60vh;
}

.hero-container {
  display: flex;
  width: 100%;
  background-color: var(--secondary-color);
}

.hero-image {
  width: 50%;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0rem 2rem 2rem 0rem;
}

.hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px 2rem 2px 10rem;
  gap: 2rem;
  text-align: right;
  font-size: 3rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.hero-text p {
  font-size: 1.5rem;
  text-align: right;
}

.cta-button {
  background: var(--text-color);
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 2rem;
  font-size: 1.5rem;
  transition: 0.3s ease;
}

.cta-button:hover {
  background: var(--third-color);
  scale: 1.1;
}

/* Layout Container */
.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem;
  flex-direction: column;
  align-items: center;
}

.icone-hero {
  margin: 20px;
  font-size: 4rem;
}

section#about {
  opacity: 50%;
  position: relative;
  background-image: url(imgs/background-quemsomos.png);
  background-size: cover;
  background-position: center;
  height: 300px; /* Ajuste a altura conforme necessário */
  overflow: hidden; /* Garante que o blur não extravase */
}

section#about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit; /* Herda a imagem de fundo */
  filter: blur(8px); /* Ajuste o valor do blur conforme necessário */
  z-index: 0; /* Coloca o blur atrás do conteúdo */
}

section#about {
  position: relative; /* Permite posicionar o container */
  background-image: url(imgs/background-quemsomos.png);
  background-size: cover;
  background-position: center;
  height: 400px; /* Aumente a altura conforme necessário */
  overflow: hidden; /* Garante que o blur não extravase */
  display: flex; /* Usar flexbox para centralização */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.container-about {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Fundo branco com transparência */
  padding: 40px; /* Aumente o padding para dar mais espaço ao texto */
  border-radius: 10px; /* Bordas arredondadas */
  max-width: 600px; /* Limita a largura do container */
  text-align: center; /* Centraliza o texto */
  z-index: 1; /* Coloca o container acima do blur */
}

/* Adicionando alinhamento vertical e horizontal */
.container-about h2,
.container-about p {
  margin: 0; /* Remove margem padrão */
  line-height: 1.5; /* Para melhor legibilidade */
}

/* Sections */
section {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-bottom: 3rem;
}

section h2 {
  font-size: 2rem;
  text-align: center;
  color: var(--primary-color);
  grid-column: span 2;
  margin-bottom: 2rem;
}

section p {
  font-size: 1rem;
  text-align: center;
}

.btn-produtor {
  background-color: var(--primary-color);
  color: white;
  width: 25%;
  padding: 15px 25px;
  border: none;
  border-radius: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 2rem;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-produtor:hover {
  background-color: var(--hover-color); /* Cor de fundo ao passar o mouse */
  transform: translateY(-2px); /* Efeito de levitar */
}

.btn-produtor:active {
  transform: translateY(0); /* Reverte o efeito ao clicar */
}

/* Products Section */
.products {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.product {
  text-align: center;
  margin: 10px;
  width: 23%;
  overflow: hidden;
  transition: 0.3s ease;
}
.product:hover {
  transform: scale(1.1);
  color: var(--third-color);
  cursor: pointer;
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.product h2 {
  font-size: 1.5rem;
  margin-top: 10px;
  color: var(--secundary-color);
}

/* Services Section */
#services,
#contact {
  background: url(https://organicosinbox.com.br/wp-content/themes/odin/assets/images/bg-blog.png);
}

.services-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
}

.service {
  color: var(--background-color);
  background: var(--primary-color);
  padding: 20px;
  border-radius: 2rem;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service:hover {
  transform: translateY(-1rem);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: var(--hover-color);
}

.service h3 {
  font-size: 1.6rem;
  margin-bottom: 0.75rem;
}

/* Contact Section */
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin: 2rem auto;
}

.contact-text,
.contact-form {
  flex: 1;
}

.contact-text {
  padding-right: 20px;
}

form {
  display: grid;
  gap: 10px;
  padding: 15px;
  background: var(--background-color);
  border-radius: 8px;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  font-size: 0.9rem;
}

form button {
  background: var(--primary-color);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background: var(--hover-color);
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
}

.footer-logo img {
  max-width: 150px;
}

.footer-links,
.footer-contact,
.footer-social {
  margin: 10px;
}

.footer-links h3,
.footer-contact h3,
.footer-social h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-links ul,
.footer-social ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li,
.footer-social li {
  margin: 5px 0;
}

.footer-links a,
.footer-social a {
  color: #f1f1f1;
  text-decoration: none;
  transition: color 0.3s ease;
}
.icon-social {
  transition: 0.3s ease;
}
.icon-social:hover {
  color: #f1a40a;
  scale: 1.1;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social ul {
  display: flex;
}

.footer-bottom {
  background-color: var(--secondary-color);
  font-size: 1rem;
  text-align: center;
  padding: 10px 0;
}

/* Media Queries */
@media (max-width: 768px) {
  .logo {
    font-size: 1.3rem;
  }

  nav ul {
    flex-direction: column;
    gap: 8px;
  }

  #hero h1 {
    font-size: 2.3rem;
  }

  #hero p {
    font-size: 1.1rem;
  }

  .cta-button {
    padding: 8px 18px;
  }

  section h2 {
    font-size: 1.8rem;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  footer {
    padding: 20px;
  }

  .footer-container {
    max-width: 1200px;
    padding: 20px;
  }

  .footer-links,
  .footer-contact,
  .footer-social {
    flex: 1;
    margin: 0 auto 20px auto;
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  nav ul {
    gap: 5px;
  }

  .logo img {
    max-height: 40px;
  }

  #hero h1 {
    font-size: 2rem;
  }

  #hero p {
    font-size: 1rem;
  }

  .cta-button {
    padding: 6px 16px;
    font-size: 1rem;
  }

  .products {
    flex-direction: column;
  }

  .product {
    width: 100%;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .service {
    padding: 15px;
    font-size: 1rem;
  }

  .contact-container {
    flex-direction: column;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-links,
  .footer-contact,
  .footer-social {
    margin-bottom: 20px;
  }
}
